.contenu {
margin : 0 auto; 
width : 428px;
background : #d8f1db ;
padding-bottom : 300px ;
font-family : poppins-medium;
}


.radios {
    display: grid;
    grid-template-columns:  1fr 1fr;
}

.monform {
	background :  #d8f1db ;
    padding: 50px;
    border: none !important;
    border-radius: 30px;
}

.form {     
text-align :center ; 
    margin: auto;
    margin-bottom: 20px;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
text-align : center ;
font-size : 69px !important ;
color : #199b53;
font-family : anton;
padding : 3px;
}
h2 {
margin-top : 20px ;
font-size : 36px ;
text-align : center ; 
font-family : anton;
padding : 5px;
color: black;

}
h3 {
text-align : center ; 
font-family : poppins-medium;
padding : 3px;
}

#videos{
width: 100%;
}

p {
text-align : center ; 
font-family : poppins-medium;
padding : 3px;
}



.content {
padding-top : 140px ;}


.btn{
width : 179px;
margin-bottom : 10px;
color : #ffffff ;
border-radius : 20px ; 
background : #75d481; 
}


.reponse {
widht : 100%;
align : center ; 
font-family : poppins;
padding : 20px;
}

